In [8]:
from preprocess import *
from nestedCV import *
from visualize import *
from permutation_test import *

### Import dataset

In [2]:
data = pd.read_csv("C:/Users/kimng/Desktop/Thesis_data/WMS_CVLT_FS_merged.csv")
#data = data.reset_index(drop=True)

columns = ['CVLT_Imm_Total', 'CVLT_DelR_LD_Free',
               'Age','Sex', 'EduYears', 'Smoker', 'High_BP', 'COMT2', 'BDNF2', 
               'ApoE_e2e4', 'ApoE_e2', 'ApoE_e3', 'ApoE_e4',
               'LH_Total', 'RH_Total', 'TotalHC',
               'L_HH_Total', 'R_HH_Total', 'TotalHead',
               'L_HB_Total', 'R_HB_Total', 'TotalBody',
               'L_HT_Total', 'R_HT_Total', 'TotalTail',
               'L_DG_Total', 'R_DG_Total', 'TotalDG',
               'L_CA_Total', 'R_CA_Total', 'TotalCA',
               'L_Sub_Total', 'R_Sub_Total', 'TotalSub',
               'L_HH_CA', 'R_HH_CA', 'HeadCA',
               'L_HB_CA', 'R_HB_CA', 'BodyCA',
               'L_HT_CA', 'R_HT_CA', 'TailCA',
               'L_HH_DG', 'R_HH_DG', 'HeadDG',
               'L_HB_DG', 'R_HB_DG', 'BodyDG',
               'L_HT_DG', 'R_HT_DG', 'TailDG',
               'L_HH_Sub', 'R_HH_Sub', 'HeadSub',
               'L_HB_Sub', 'R_HB_Sub', 'BodySub',
               'L_HT_Sub', 'R_HT_Sub', 'TailSub']
#preprocess
df = data[columns]
df.shape

(140, 61)

In [3]:
df.isnull().sum()

CVLT_Imm_Total        3
CVLT_DelR_LD_Free     3
Age                   0
Sex                   0
EduYears              0
                     ..
R_HB_Sub             11
BodySub              11
L_HT_Sub             11
R_HT_Sub             11
TailSub              11
Length: 61, dtype: int64

In [4]:
df.dropna(inplace = True)
df.shape

c:\Users\kimng\AppData\Local\Programs\Python\Python39\lib\site-packages\pandas\util\_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)

(129, 61)

In [9]:
df = preprocess(df)

In [10]:
df.describe()

,CVLT_Imm_Total,CVLT_DelR_LD_Free,Age,Sex,EduYears,Smoker,High_BP,COMT2,BDNF2,ApoE_e2e4,...,L_HH_Sub,R_HH_Sub,HeadSub,L_HB_Sub,R_HB_Sub,BodySub,L_HT_Sub,R_HT_Sub,TailSub,grp
count,129.000000,129.000000,129.000000,129.000000,129.000000,129.000000,129.000000,129.000000,129.000000,129.000000,...,129.000000,129.000000,129.000000,129.000000,129.000000,129.000000,129.000000,129.000000,129.000000,59.000000
mean,54.775194,12.248062,47.635659,1.542636,15.860465,1.031008,1.116279,0.759690,0.333333,0.023256,...,270.114788,286.853054,278.483682,216.401042,208.797596,212.599319,26.868606,29.594662,28.231705,8.542373
std,9.126062,2.613161,18.883251,0.500121,2.461403,0.174014,0.321809,0.428938,0.473242,0.151302,...,54.831992,53.460985,48.525469,41.213681,35.336911,32.460184,6.789627,8.055470,6.417249,3.997077
min,35.000000,5.000000,18.000000,1.000000,10.000000,1.000000,1.000000,0.000000,0.000000,0.000000,...,148.819290,158.846793,158.875000,110.909966,106.781205,108.845585,12.233782,15.553328,15.830000,2.000000
25%,49.000000,10.000000,30.000000,1.000000,14.000000,1.000000,1.000000,1.000000,0.000000,0.000000,...,229.770510,254.843688,244.575000,186.129439,187.518921,193.291448,22.200925,24.290453,23.615000,4.000000
50%,55.000000,12.000000,48.000000,2.000000,16.000000,1.000000,1.000000,1.000000,0.000000,0.000000,...,265.785139,285.320587,279.480000,215.537167,209.140882,211.015093,24.817369,28.900795,27.725000,8.000000
75%,61.000000,14.000000,64.000000,2.000000,17.000000,1.000000,1.000000,1.000000,1.000000,0.000000,...,310.839873,317.390520,308.750000,243.406118,230.304132,231.305634,31.469792,33.466886,31.035000,12.000000
max,73.000000,16.000000,85.000000,2.000000,23.000000,2.000000,2.000000,1.000000,1.000000,1.000000,...,433.877967,494.619458,425.795000,332.358149,305.395180,294.072303,46.911832,55.632057,49.930000,16.000000

### Initialize models and set up parameter grid

In [17]:
from sklearn.linear_model import ElasticNet
from sklearn_rvm import EMRVR

enlr = ElasticNet()
rvr = EMRVR()

In [ ]:
#Set up parameter grid
param_grid_enlr = [{
                    'alpha': np.arange(0.01, 2.01, 0.01),
                    'l1_ratio': np.arange(0, 1.01, 0.01)
                    }]

param_grid_rvr = [{
                    'gamma': ['scale', 'auto'], 
                    'kernel': ['linear', 'poly', 'rbf'], 
                    'degree': [2,3,4,5]
                    }]

### Model 1: with demographics and genetic polymorphisms

In [6]:
feature_names = ['Age','Sex', 'EduYears', 'COMT2', 'BDNF2', 'ApoE_e2e4', 'ApoE_e2', 'ApoE_e3', 'ApoE_e4']
ir = ['CVLT_Imm_Total']
dr = ['CVLT_DelR_LD_Free']

In [7]:
rmse_enlr1_ir, r2_enlr1_ir, corr_enlr1_ir, imp_train_enlr1_ir, imp_test_enlr1_ir = nested_cv(
                                                                        feature_names=feature_names,
                                                                        target=ir,
                                                                        df=df,
                                                                        model = enlr,
                                                                        param_grid=param_grid
                                                                        )

NameError: name 'df' is not defined

In [ ]:
rmse_enlr1_dr, r2_enlr1_dr, corr_enlr1_dr, imp_train_enlr1_dr, imp_test_enlr1_dr = nested_cv(
                                                                        feature_names=feature_names,
                                                                        target=dr,
                                                                        df=df,
                                                                        model = enlr,
                                                                        param_grid=param_grid
                                                                        )

In [ ]:
rmse_rvr1_ir, r2_rvr1_ir, corr_rvr1_ir, imp_train_rvr1_ir, imp_test_rvr1_ir = nested_cv(
                                                                        feature_names=feature_names,
                                                                        target=ir,
                                                                        df=df,
                                                                        model = rvr,
                                                                        param_grid=param_grid
                                                                        )